---
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.svelte";
const cookie = Astro.request.headers.get("cookie");
if (!cookie) {
	Astro.response.status = 401;
	return Astro.redirect("/login");
}
---

<Layout title="Home Page">
	<div class="container mx-auto font-bold text-center">
		<Calendar client:load />
	</div>
</Layout>

<style>
	html,
	body {
		margin: 0;
	}
</style>
