---
import Layout from "../layouts/Layout.astro";
const cookie = Astro.request.headers.get("cookie");
if (!cookie) {
	Astro.response.status = 401;
	return Astro.redirect("/login");
}
---

<Layout title="Home Page">
	<div class="h-screen container mx-auto font-bold text-center">
		<div>This is the home page</div>
	</div>
</Layout>

<style>
	html,
	body {
		margin: 0;
	}
</style>
