---
import AddEmployee from "../components/AddEmployee.svelte";
import RemoveEmployee from "../components/RemoveEmployee.svelte";
import Navbar from "../components/Navbar.svelte";
---

<Navbar client:load />
<div class="container mx-auto">
    <div class="w-full grid lg:grid-cols-2">
        <AddEmployee client:load />
        <RemoveEmployee client:load />
    </div>
</div>
